{% extends "templates/base_layout.twig" %}


{% block custom_assets %}
  <script>
    $(function () {
      $('.box').on('click', function(event) {
        if (! $( event.target).is(':input')) {
          let commentaires = $(this).find('.commentaires')
          if (commentaires.css('max-height') == '0px') {
            commentaires.css('max-height', '20000px');
            commentaires.css('visibility', 'visible');
          }
          else {
            commentaires.css('max-height', '0px');
            commentaires.css('visibility', 'hidden');
          }
        }
      });
    });
    function validateCommentForm(i) {
      let ret = true;
      $(".nonempty.form" + i).each(function() {
        if ($(this).val() === "") {
          $(this).addClass("form-error");
          ret = false;
        }
        else {
          $(this).removeClass("form-error");
        }
      });
      return ret;
    }
  </script>
{% endblock %}

{% block content %}

{% if flash.getMessage('Error')[0] %}
    <div class="alertDanger">
        <b>{{ flash.getMessage('Error')[0] }}</b>
    </div>
{% endif %}
{% if flash.getMessage('Success')[0] %}
     <div class="alertSuccess">
        <b>{{ flash.getMessage('Success')[0] }}</b>
    </div>
{% endif %}

  <p class="tall aligncentert">
    <strong>Lien de la liste : </strong> <a href="{{ path_for('item') }}/{{ token }}">
    www.mecado.net/{{ path_for('item') }}/{{ token }}</a>
  </p>

  {% set i = 0 %}
  {% for item in items %}
    {% include "templates/item.twig" %}
    {% set i = i + 1 %}
  {% endfor %}

  <h2 class="section-container">Ajouter un nouvel item </h2>

  {% if session.errorItem %}
      <div class="alertDanger">
        <b>{{ flash.getMessage('ErrorItem')[0] }}</b>
        {% for session in session.errorItem %}
            <p>{{ session }}</p>
        {% endfor %}
      </div>
  {% endif %}

   {% if flash.getMessage('successAddItem')[0] %}
      <div class="alertSuccess">
        <b>{{ flash.getMessage('successAddItem')[0] }}</b>
      </div>
  {% endif %}
<form name="addItem" enctype="multipart/form-data" method="post" action="{{ path_for('postItem') }}">
  <div class="containerFormItem">

      <div class="containerInput">
        <label for="name">Nom de l'item</label>
        <span class="required">*</span><br>
        <input class= "form login" id="name" type="text" name="name" placeholder="Enrez le nom de l'item">
      </div>

      <div class="containerInput">
        <label for="tarif">Tarif minimum</label>
        <span class="required">*</span><br>
        <input class= "form login" id="tarif" type="number" name="tarif" placeholder="Enrez le tarif de l'item">
      </div>

      <div class="containerInput">
        <label for="url">URL d'exemple</label><br>
        <input class= "form login" id="url" type="text" name="url" placeholder="Enrez l'url d'exemple">
      </div>

      <div class="containerInput">
        <label for="description">Description</label>
        <span class="required">*</span><br>
        <textarea class= "form login hight-10 nonempty" id="description" type="text" name="description" placeholder="" ></textarea>
      </div>

      <div>
        <label for="image">Image </label><br>
        <input type="file" id="imageUpload" name="image"/>
      </div><br>

      <input type="hidden" name="liste_id" value="{{ liste.id }}"/>

      <button class="button success marginButton" type="submit" value="ajoutItem" name="buttonAjoutItem">Ajouter Item</button>
  </div>
</form>


  {% if  session.isConnected %}
  <div class="containerForm">
    <form name="newlist" onsubmit="return validateForm()" method="post" action="{{ path_for('deleteitem') }}">
      <label for="delete_item">Selectionner la liste à supprimer</label>
      <select class="" name="delete_item_option">
        {% for item in items %}
          <option value="{{ item.id }}">{{ item.nom }}</option>
        {% endfor %}
      </select>
      <input type="submit" class="button alert" name="delete_item" id="delete_item" value="supprimer item">
    </form>
  </div>
  {% endif %}

</br>
{% endblock %}
