{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Contact
	{% endblock %}



{% block content %}

	<h2 class="section-container">Formulaire de contact</h2>

	{% if session.errorContact %}
			<div class="alertDanger">
				<b>{{ flash.getMessage('Error')[0] }}</b>
				{% for session in session.errorContact %}
						<p>{{ session }}</p>
					{% endfor %}
			</div>
	{% endif %}

	{% if flash.getMessage('Erreur')[0] %}
			<div class="alertDanger">
					<b>{{ flash.getMessage('Erreur')[0] }}</b>
			</div>
	{% endif %}

	{% if flash.getMessage('PassError')[0] %}
			 <div class="alertDanger">
					<b>{{ flash.getMessage('PassError')[0] }}</b>
			</div>
	{% endif %}

	{% if flash.getMessage('RegisterSuccss')[0] %}
			 <div class="alertSuccess">
					<b>{{ flash.getMessage('RegisterSuccss')[0] }}</b>
			</div>
	{% endif %}

	{% if flash.getMessage('ErrorEmail')[0] %}
			 <div class="alertDanger">
					<b>{{ flash.getMessage('ErrorEmail')[0] }}</b>
			</div>
	{% endif %}


	 <form name="contact"  method="post" action="{{ path_for('sendmail') }}">
		<div class="containerFormLogin">

			<div class="containerInput">
				<label for="name">Nom</label>
				<span class="required">*</span><br>
				<input class= "form contact" id="nom" type="text" name="nom" placeholder="Entrez votre nom">
			</div>

			<div class="containerInput">
				<label for="name">Adresse email</label>
				<span class="required">*</span><br>
				<input class= "form contact" id="mail" type="text" name="mail" placeholder="Entrez votre adresse email">
			</div>

			<div class="containerInput">
				<label for="name">Message</label>
				<span class="required">*</span><br>
				<textarea class= "form contact hight-10" id="message" type="text" name="message" placeholder="Entrez votre message"></textarea>
			</div>

			<div>
				<button class="button success marginButton" type="submit" value="submit" name="buttonSubmit" >Envoyer</button>
			</div>

		</div>
	</form>

{% endblock %}
