{% extends "templates/base_layout.twig" %}

{% block title %}
  {{ parent() }} show list
{% endblock %}




{% block content %}
  <!--if connected-->
    {% if flash.getMessage('Error')[0] %}
        <div class="alertDanger">
            <b>{{ flash.getMessage('Error')[0] }}</b>
        </div>
    {% endif %}
    {% if flash.getMessage('Success')[0] %}
   			 <div class="alertSuccess">
        		<b>{{ flash.getMessage('Success')[0] }}</b>
    		</div>
		{% endif %}

    {% for liste in listes %}
    <a class="no-style" href="{{path_for('item') }}/{{liste.token}}">
      <div class="box cell cell_animation large-6" >

          <h1>{{ liste.nom }}</h1>
          <h2>date de validité : {{ liste.date_val }} </h2>
          <h2>destinataire : {{ liste.destinataire }}</h2>
          <p>{{ liste.description }}</p>
          <p>www.mecado.net{{path_for('item') }}/{{liste.token}}</p>

      </div>
    </a>
    {% endfor %}

{% endblock %}
