<!doctype html>
<html lang="fr">

	<head>

		<link rel="stylesheet" type="text/css" href="/Assets/css/">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/Assets/js/jquery-3.2.1.min.js">
		<link rel="stylesheet" type="text/css" href="/Assets/js/function_base.js">
		<link rel="icon" type="image/png" href="/Assets/img/favicon.png">


		<script src="/Assets/js/jquery-3.2.1.min.js"></script>
	  <script src="/Assets/js/function_base.js"></script>

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado.net
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>

		<header>
			<div class="header">
				<h1>Mecado.net</h1>
				<div class ="main_list">
					<ul class = "main_list">
					<li class="main_link"><a href ="{{ path_for('home') }}">Home</a></li>
					<li class="main_link"><a class="main_link" href ="{{ path_for('showLists') }}">My Lists</a></li>
					<li class="main_link"><a class="main_link" href ="{{ path_for('addList') }}">New List</a></li>
					<li class="main_link"><a class="main_link" href ="{{ path_for('contact') }}">Contact</a></li>
					<li class="main_link"><a class="main_link" href ="/item">Item</a></li>
					<li class="main_link"><a class="active" href ="{{ path_for('login') }}">Login</a></li>
					<li class="main_link"><a class="active" href ="{{ path_for('register') }}">Sign In</a></li>
				</ul>

				</div>
				{#<div class="navbar">

					<ul>
  						<li><a href="{{ path_for('home') }}">Home</a></li>
  						<li><a href="{{ path_for('showLists') }}">My lists</a></li>
							<li><a href="{{ path_for('addList') }}">New List</a></li>
  						<li><a href="{{ path_for('contact') }}">Contact</a></li>
  						<li><a href="/item">Item</a></li>
  						<li style="float:right"><a class="active" href="{{ path_for('register') }}">Login</a></li>
  						<li style="float:right"><a class="active" href="{{ path_for('login') }}">Sign In</a></li>

					</ul>

				</div>#}


   				 	<a class="" href=""></a>
   				 	<div class="">

   				 	</div>

			</div>


		</header>


			{% block content %}

			{% endblock %}
		</br>

		<footer>
			
			<div>

				<a class="linksfooter" href ="{{ path_for('home') }}">Home</a> - 
				<a class="linksfooter" href="{{ path_for('showLists') }}">Add a list</a> - 
				<a class="linksfooter" href="{{ path_for('contact') }}">Contact</a> 

				<p></p>
			</div>
			Site par BISELX Charles, ESCAMILLA Valentin, MEDJMADJ Issam, PENGUILLY Bertrand<br>
			©Mecado.net - 2017
		</footer>
	</body>
</html>
