<!doctype html>
<html lang="fr">

	<head>

		<link rel="stylesheet" type="text/css" href="/Assets/css/">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/Assets/js/jquery-3.2.1.min.js">
		<link rel="stylesheet" type="text/css" href="/Assets/js/function_base.js">
		<link rel="icon" type="image/png" href="/Assets/img/favicon.png">


		<script src="/Assets/js/jquery-3.2.1.min.js"></script>
	  <script src="/Assets/js/function_base.js"></script>

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado.net
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>

		<header>
			<div class="header">
				<img src="/Assets/img/favicon.png" class="logo"> <h1 class="titre">Mecado</h1>
				<div class ="main_list">
					<ul class = "main_list">
						{% if not session.isConnected %}
							<li class="main_link"><a href ="{{ path_for('home') }}">Home</a></li>
							<li class="main_link"><a class="main_link" href ="{{ path_for('contact') }}">Contact</a></li>
							<li class="main_link"><a class="active" href ="{{ path_for('login') }}">Sign In</a></li>
							<li class="main_link floatRight"><a class="active" href ="{{ path_for('register') }}">Register</a></li>

						{% else %}
							<li class="main_link"><a href ="{{ path_for('home') }}">Home</a></li>
							<li class="main_link"><a class="main_link" href ="{{ path_for('showLists') }}">My Lists</a></li>
							<li class="main_link"><a class="main_link" href ="{{ path_for('addList') }}">New List</a></li>
							<li class="main_link"><a class="main_link" href ="{{ path_for('contact') }}">Contact</a></li>
							<li class="main_link floatRight"><a class="active" href ="{{ path_for('LogOut') }}">Logout</a></li>
						{% endif %}

					</ul>
				</div>
			</div>








   				 	<a class="" href=""></a>
   				 	<div class="">

   				 	</div>

			</div>


		</header>


			{% block content %}

			{% endblock %}
		</br>

		<footer>

			<div>

				<a class="linksfooter" href ="{{ path_for('home') }}">Home</a> -
				<a class="linksfooter" href="{{ path_for('addList') }}">Add a list</a> -
				<a class="linksfooter" href="{{ path_for('contact') }}">Contact</a>

				<p></p>
			</div>
			Site par BISELX Charles, ESCAMILLA Valentin, MEDJMADJ Issam, PENGUILLY Bertrand<br>
			©Mecado.net - 2017
		</footer>
	</body>
</html>
