<!doctype html>
<html lang="fr">

	<head>

		<link rel="stylesheet" type="text/css" href="/Assets/css/">
		<link rel="stylesheet" type="text/css" href="/Assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/Assets/js/jquery-3.2.1.min.js">
		<link rel="stylesheet" type="text/css" href="/Assets/js/function_base.js">
		<link rel="icon" type="image/png" href="/Assets/img/favicon.png">


		<script src="/Assets/js/jquery-3.2.1.min.js"></script>
	  	<script src="/Assets/js/function_base.js"></script>

		<meta charset="UTF-8">
		<title>
			{% block title %}
				Mecado.net
			{% endblock %}
		</title>

			{% block custom_assets %}

			{% endblock %}
	</head>

	<body>

		<header>
			<div class="header">
				<img src="/Assets/img/favicon.png" class="logo"> <h1 class="titre">Mecado</h1>
				<div class="bar_nav">


					{% if session.isConnected %}
						<p class="welcome">Bonjour <span>{{ session.isConnected.login }}</span></p>
					{% endif %}
					<div class ="main_list">
						<ul class = "main_list">
							<li class="main_link"><a href ="{{ path_for('home') }}">Accueil</a></li>
							{% if not session.isConnected %}
								<li class="main_link"><a class="main_link" href ="{{ path_for('contact') }}">Contact</a></li>
								<li class="main_link"><a class="active" href ="{{ path_for('login') }}">Se connecter </a></li>
								<li class="main_link floatRight"><a class="active" href ="{{ path_for('register') }}">s'enregistrer</a></li>
							{% else %}
								<li class="main_link"><a class="main_link" href ="{{ path_for('showLists') }}">Mes listes</a></li>
								<li class="main_link"><a class="main_link" href ="{{ path_for('addList') }}">Nouvelle liste</a></li>
								<li class="main_link"><a class="main_link" href ="{{ path_for('contact') }}">Contact</a></li>
								<li class="main_link"><a class="active" href ="{{ path_for('LogOut') }}">Deconnexion</a></li>
							{% endif %}



						</ul>

					</div>
				</div>
			</div>
		</header>

			{% block content %}

			{% endblock %}
		</br>

		<footer>

			<div>
				<a class="linksfooter" href ="{{ path_for('home') }}">Accueil</a> -
				{% if session.isConnected %}
					<a class="linksfooter" href="{{ path_for('showLists') }}">Mes listes</a> -
				{% endif %}
				<a class="linksfooter" href="{{ path_for('contact') }}">Contact</a><br>

				<p></p>
			</div>

			<p class="footerPara">Site par BISELX Charles, ESCAMILLA Valentin, MEDJMADJ Issam, PENGUILLY Bertrand<br>
			©Mecado.net - 2017</p>
			{% if session.isConnected %}
				<a class="removeAccount" href="{{ path_for('removeAccount') }}">Supprimer compte</a>
			{% endif %}
		</footer>
	</body>
</html>
