
<div class="box cell cell_animation large-4" >
  <div class="inline large-8" >
    <h3>{{ item.nom }}</h3>
  </div>
  <div class="inline floatRight  alignright large-3" >
    <h2>{{ item.tarif }} €</h2>
  </div>
  <div class="large-12 no-marge">
    {% if item.lien_image is not empty %}
      <img class="img_item " src="{{ item.lien_image }}" alt="image de {{ item.nom }} ">
    {% endif %}
    <p>{{ item.description }}</p>

    {% if item.lien_url is not empty %}
      <p>lien fourni :
      <a href="{{item.lien_url }}"> ici</a> </p>
    {% endif %}

    {% if item.reserve == 0 %}
    <input type="submit" class="button" method="post" action="{{ path_for('reservationItem', {'id': item.id }) }}" name="Reserver_{{i}}" id="reserver_{{i}}" value="Reserver">
    {% else %}
    <p>Cet item est deja reservé</p>
    {% endif %}
    {% if nbCommentaires[i] == 0 %}
      <p>Pas de commentaire</p>
    {% elseif nbCommentaires[i] == 1 %}
      <p>1 commentaire</p>
    {% else %}
      <p>{{ nbCommentaires[i] }} commentaires</p>
    {% endif %}

    {% if true %} {# TODO si l'utilisateur a acces aux commentaires #}
      <div class="commentaires">
        <form name="form_{{i}}" onsubmit="return validateForm()" method="post" action="{{ path_for('postCommentItem') }}">
          <label for="nom_{{i}}">Votre nom</label>
          <span class="required">*<br></span>
          <input class= "form newlist nonempty" type="textarea" name="nom_{{i}}"  id="nom_{{i}}" value="" maxlength="25"><br>
          <label for="comment_{{i}}">Commentaire</label>
          <span class="required">*<br></span>
          <textarea class="form newlist hight-10 nonempty" type="text" name="description"  id="description" value="" maxlength="255"></textarea> <br>
          <input type="submit" class="button" name="validate_{{i}}" id="validate_{{i}}" value="Ajouter commentaire">
        </form>
      </div>
    {% endif %}
  </div>



</div>
