
<!--
<div class="item">
  <span class="nomItem">
    {{ item.nom }}
  </span>
  <span class="descItem">
    {{ item.description }}
  </span>
  <span class="tarifItem">
    {{ item.tarif }}
  </span>
</div>
-->

<div class="box cell large-4" >
  <div class="inline large-8" >
    <h3>{{ item.nom }}</h3>
  </div>
  <div class="inline right large-3" >
    <h2>{{ item.tarif }} €</h2>
  </div>

    <p>{{ item.description }}</p>

</div>
