
<div class="box cell large-4" >
  <div class="inline large-8" >
    <h3>{{ item.nom }}</h3>
  </div>
  <div class="inline floatRight  alignright large-3" >
    <h2>{{ item.tarif }} €</h2>
  </div>
  <div class="large-12 no-marge">
    {% if item.lien_image is not empty %}
      <img class="img_item " src="{{ item.lien_image }}" alt="image de {{ item.nom }} ">
    {% endif %}
    <p>{{ item.description }}</p>

    {% if item.lien_url is not empty %}
      <p>lien fourni :
      <a href="{{item.lien_url }}"> ici</a> </p>
    {% endif %}

    {% if nbCommentaires[nbCommentairesIndex] == 0 %}
      <p>Pas de commentaire</p>
    {% elseif nbCommentaires[nbCommentairesIndex] == 1 %}
      <p>1 commentaire</p>
    {% else %}
      <p>{{ nbCommentaires[nbCommentairesIndex] }} commentaires</p>
    {% endif %}
  </div>



</div>
